

<div class="relative overflow-x-auto mt-20">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr class="text-2xl">
                <th scope="col" class="px-6 py-3">
                    FirstName
                </th>
                <th scope="col" class="px-6 py-3">
                    LastName
                </th>
                <th scope="col" class="px-6 py-3">
                    UserName
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
            </tr>
        </thead>
        <tbody class="text-1xl">
            <tr *ngFor="let userList of userArray" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{userList.firstName}}
                </th>
                <td class="px-6 py-4">
                    {{userList.lastName}}
                </td>
                <td class="px-6 py-4">
                    {{userList.username}}
                </td>
                <td class="px-6 py-4">
                    ${{userList.email}}
                </td>
                <td >
                    <button routerLink="/user-edit" class="fa fa-edit bg-indigo-500 p-2 mt-2 rounded text-white"></button>
                    <button (click) = "userDelete(userList._id)" class="fa fa-trash-o bg-red-500 p-2 mt-2 rounded text-white"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
